body{
    background-color: #fcfcfc !important;
}
#signup-box{
    background-color: #1E286D;
    box-shadow: 1px 1px 15px 5px #ebebeb;
    border-radius: 40px;
    margin: auto;
    height: fit-content;
    
}
.signup-cont{
    padding-top: 1em;
    padding-bottom: 1em;
}
#box-content-container{
    background-color: white;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    height: 100%;
}
.btns{
    border:none;
    border-radius: 50px;
    font-size: 22px;
    padding: 0.2em 2.5em 0.2em 2.5em;
}
.filled-blue-btn{
    background-color: transparent;
    background-color: #1E286D;
    color: white;
}
.filled-blue-btn:hover{
    background-color: #141d54;
}
.nonfilled-btn{
    background-color: transparent;
    border: 1px solid #1E286D;
    color:#1E286D;
}
.nonfilled-btn:hover{
    background-color: rgb(242, 242, 242);
}
.filled-orange-btn{
    background-color: #FEB139;
    color: white;
}
.input-field{
    border-radius: 50px;
    border: 1px solid #8e8e8e;
    padding: 0.3em 0em 0.3em 0.5em;
    width: 270px;
}
h4.h2.h5{
    color:#141d54;
}
#login-btn{
    width: 180px;
}

.only{
    color: #8e8e8e;
    font-style: bold;
}
.login-end{
color: #141d54;
font-size: medium;
}
.end{
    color:#8e8e8e;
    font-size:medium;
}

#sendreq-btn{
    width: 180px ;
    text-align: center;
}

#sendreq-btn:hover{
    background-color: #fda00b;
}

#box-2{
    background-color: #141d54;
    box-shadow: 1px 1px 15px 5px #ebebeb;
    border-radius: 40px;
    margin: auto;
    height: 450px;
}

.error-msg{
    color: rgb(207, 0, 0);
    visibility: hidden;
}
#registration-msg{
    color: darkgreen;
    font-weight: 600;
}
  
