<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register Request</title>
        <link rel="stylesheet" href="style.css">
         <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class='container w-100 vh-100 d-flex align-items-center'>
            <div id="box" class="col-9">
              <div id="box-content-container" class="col-11">
               <div class="container pt-4 pb-5 pl-5 pr-5 d-flex h-100 flex-column align-items-center justify-content-around">
                 <img src="image0.jpeg" height="90" class="mb-3">
                 <h4>Registeration Request</h4>
                 <form class="w-100 d-flex flex-column align-items-center">
                    <div class="">
                    <div class="col-12 d-flex justify-content-around">
                        <input type="text" value="First Name" class="input-field">
                        <input type="text" value="Last Name" class="input-field">
                    </div>

                    <div class="d-flex">
                        <input type="text" value="company Name" class="input-field">
                        <input type="text" value="Store Name" class="input-field">
                    </div>

                    <div class="d-flex">
                        <input type="email" value="Email Address" class="input-field">
                        <input type="phone" value="Phone Number" class="input-field">
                    </div>
                    </div>

                   


                    <label>
                        <div>
                           <h4>Commercial Register</h4> 
                            <input type="file" for="file" value="Upload" class="Upload-btn" id="login-btn" required>
                          </div>
                       </label>
                 
                    <input type="submit" value="Send Request" id="sendreq-btn" class="btns filled-orange-btn text-center">
                 
                 </form>
               </div>
              </div>
            </div>
          </div>
    </body>

</html>
