

body{
background-color: #fcfcfc !important;
display: flex;
height: 100vh;
justify-content: center;
align-items: center;
padding: 10px;
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 40px;
     
}

#box-content-container{
    background-color: white;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    height: 100%;
}

/*---
.container .title{
    font-size: 25px;
    font-weight: 400;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
}
*/
.btns{
    border:none;
    border-radius: 50px;
    font-size: 22px;
    padding: 0.2em 2.5em 0.2em 2.5em;
}

#login-btn{
    width: 180px;
}

.Upload-btn{
    background-color: transparent;
    border: 1px solid #1E286D;
    color: white;
}


.Upload-btn:hover{
    background-color: #141d54;
}

.filled-blue-btn{
    background-color: transparent;
    background-color: #1E286D;
    color: white;
}

#sendreq-btn{
    background-color: transparent;
    background-color:#FEB139;
    color: white;
    width: 180px ;
}

#box-2{
    background-color: #141d54;
    box-shadow: 1px 1px 15px 5px #ebebeb;
    border-radius: 40px;
    margin: auto;
    height: 450px;
}
.container form .input-field{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .input-field .input-box{
    margin: 20px 0 12px 0;
  width: calc(100% /2 - 20px);
  text-align: center;
}


.input-field{
    border-radius: 50px;
    border: 1px solid #8e8e8e;
    padding: 0.3em 0em 0.3em 0.5em;
    width: 270px;
    margin: 20px 0 12px 0;
}

h4{
    color:#141d54;
}