:root {
    --main-color: #1E286D;
    --main-color-dark: #2d3777;
    --main-color-light: #1E286D;
    --text-color: #cfcde7;
    --orange: #faa213;
    --orange-dark: #d88a0c;
}

#products-container{
    padding: 0.8em;
    max-height: 600px;
    overflow-y: scroll;
}
#products-box{
    background-color: white;
    box-shadow: 1px 1px 15px 1px #ebebeb;
    border-radius: 10px;
    padding: 1em;
}
th{
    font-weight: 600;
    color: #faa213;
    padding: 1em;
    font-size: 22px;
    text-align: center !important;
}
td{
    padding: 0.2em 1.2em 0.2em 1.2em;
    text-align: center;
    font-size: 19px;
}
.edit-icons{
    font-size: 26px;
    cursor: pointer;
    color:rgb(164, 164, 164);
}
.edit-icons:hover{
    color:rgb(136, 136, 136);
}
.delete-icons{
    font-size: 26px;
    cursor: pointer;
    color: rgb(169, 0, 0);
    margin-left: 1em;
}
.delete-icons:hover{
    color: rgb(134, 0, 0);
}
.second-col{
    width: 100%;
    text-align: center !important;
}
.product-img{
    height: 110px !important;
    padding: 1em;
}
td:first-child{
    display: flex;
    justify-content: center;
}
.loading-img{
    width: 150px;
    height: 150px;
    margin: auto;
}
#edit-item-prompt{
    width: 100%;
}
#popup{
    min-width: fit-content !important;
}
#edit-photo-btn{
    border:none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 26px;
    color:#1E286D;
    background-color: #e6e6e6;
}
#edit-photo-btn:hover{
    background-color: #d3d3d3;
}
#product-photo-title{
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 2em;
}
#photo-container{
    border: 1px solid #898989;
    border-radius: 30px;
}
#edit-btn-container{
    margin-top: -0.8em;
}
.edit-item-input{
    border-radius: 50px;
    border: 1px solid #898989;
    padding: 0.2em 0.5em 0.2em 0.5em;
    width: 325px;
}
.edit-item-label{
    font-size: 18px;
    font-weight: 600;
    color: var(--main-color);
}
.close-edit-item-popup{
    border: none;
    background-color: transparent;
    color: #575757;
    font-size: 1.3em;
}

  

