@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #1E286D;
  --main-color-dark: #2d3777;
  --main-color-light: #1E286D;
  --text-color: #cfcde7;
  --orange: #faa213;
  --orange-dark: #d88a0c;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #f4f4f4;
  min-height: 100vh;
  position: relative;
}

.tooltip-element a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

nav {
  position: sticky;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: var(--main-color);
  width: 17rem;
  padding: 1.8rem 0.85rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease-in-out;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

nav::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 100%;
  top: 0;
  right: 100%;
}
#main{
  width: 100%;
}
main {
  flex: 1;
  padding: 2rem;
  color: #1f2027;
  display: flex;
  flex-direction: column;
}
#main-div{
  width: 100%;
  display: flex;
}
main h1 {
  margin-bottom: 1rem;
}

main .copyright {
  margin-top: auto;
  font-size: 0.9rem;
}

main .copyright span {
  color: var(--main-color);
  font-weight: 500;
  cursor: pointer;
}

.sidebar-top {
  position: relative;
  display: flex;
  align-items: center;
}

.sidebar-top .logo {
  width: 5rem;
  margin: 0 0.8rem;
}

.sidebar-top h3 {
  padding-left: 0.5rem;
  font-weight: 600;
  font-size: 1.15rem;
}

.shrink-btn {
  position: absolute;
  top: 50%;
  height: 27px;
  padding: 0 0.3rem;
  background-color: var(--main-color);
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
  right: -2.65rem;
  transform: translateY(-50%) translateX(-8px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shrink-btn i {
  line-height: 27px;
  transition: 0.3s;
}

.shrink-btn:hover {
  background-color: var(--main-color-dark);
}

nav:hover .shrink-btn,
.shrink-btn.hovered {
  transform: translateY(-50%) translateX(0px);
  opacity: 1;
  pointer-events: all;
}

.sidebar-links ul {
  position: relative;
  margin-top: 4em;
}

.sidebar-links li {
  position: relative;
  padding: 2.5px 0;
}

.sidebar-links a {
  color: var(--text-color);
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  height: 53px;
  padding-right: 0.5em;
}

.icon {
  font-size: 1.3rem;
  text-align: center;
  min-width: 3.7rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding-left: 0.8em;
}

.icon i:last-child {
  opacity: 0;
  color: #fff;
}

.sidebar-links a.active,
.sidebar-links a:hover {
  color: #fff;
}

.sidebar-links a .link {
  transition: opacity 0.3s 0.2s, color 0.3s;
}

.sidebar-links a.active i:first-child {
  opacity: 0;
}

.sidebar-links a.active i:last-child {
  opacity: 1;
}

.active-tab {
  width: 100%;
  background-color: var(--main-color-dark);
  border-radius: 10px;
  left: 0;
  color: #fff !important;
}

.sidebar-links h4 {
  position: relative;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 0.8rem;
  color: var(--text-color);
  letter-spacing: 0.5px;
  height: 45px;
  line-height: 45px;
  transition: opacity 0.3s 0.2s, height 0.5s 0s;
}

.sidebar-footer {
  position: relative;
  margin-top: auto;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: var(--text-color);
  height: 53px;
  width: 3.7rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s 0s, color 0.3s 0s;
}

.account:hover {
  color: #fff;
}

.admin-user {
  display: flex;
  align-items: center;
}

.admin-profile {
  white-space: nowrap;
  max-width: 100%;
  transition: opacity 0.3s 0.2s, max-width 0.7s 0s ease-in-out;
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.admin-user img {
  width: 2.9rem;
  border-radius: 50%;
  margin: 0 0.4rem;
}

.admin-info {
  padding-left: 0.3rem;
}

.admin-info h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
}

.admin-info h5 {
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--text-color);
  margin-top: 0.3rem;
  line-height: 1;
}

.log-out {
  display: flex;
  height: 40px;
  min-width: 2.4rem;
  background-color: var(--main-color-dark);
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  font-size: 1.15rem;
  border-radius: 10px;
  margin: 0 0.65rem;
  transition: color 0.3s;
}

.log-out:hover {
  color: #fff;
}

.tooltip {
  background-color: var(--main-color);
  position: absolute;
  right: -1.2rem;
  top: 0;
  transform: translateX(100%) translateY(-50%);
  padding: 0 0.8rem;
  font-size: 0.85rem;
  display: none;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 30px;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  text-align: center;
  white-space: nowrap;
}

.tooltip span {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  opacity: 0;
  transition: 0.3s;
}

.tooltip span.show {
  opacity: 1;
}

.tooltip-element:hover ~ .tooltip {
  opacity: 1;
  pointer-events: all;
}

/* When the menu shrinks */

.hide {
  transition: opacity 0.3s 0.2s;
}

body.shrink nav {
  width: 5.4rem;
}

body.shrink .hide {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;
}

body.shrink .shrink-btn i {
  transform: rotate(-180deg);
}

body.shrink .sidebar-links h4 {
  height: 10px;
}

body.shrink .account {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s 0.3s, color 0.3s 0s;
}

body.shrink .admin-profile {
  max-width: 0;
  transition: opacity 0.3s 0s, max-width 0.7s 0s ease-in-out;
}

body.shrink .tooltip {
  display: grid;
}
#profile-container{
  padding-left: 2em;
}
#profile-container input{
  border-radius: 50px;
  border: 1px solid #898989;
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding: 0.3em;
}
#profile-container label{
  color: var(--main-color);
  font-weight: 600;
}
#save-changes-btn{
  border:none;
  background-color: var(--orange);
  color: white;
  border-radius: 30px;
  padding: 0.6em;
  font-size: 20px;
}
#save-changes-btn:hover{
  background-color: var(--orange-dark);
}
#delete-store-btn{
  border:none;
  background-color: rgb(187, 0, 0);
  color: white;
  border-radius: 30px;
  padding: 0.6em;
  font-size: 20px;
}
#delete-store-btn:hover{
  background-color: rgb(121, 0, 0);
}
#saved-success-alert{
  width: 550px !important;
}
#edit-logo-btn{
  border:none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 26px;
  color:#1E286D;
  background-color: #e6e6e6;
}
#edit-logo-btn:hover{
  background-color: #d3d3d3;
}
#brand-logo-title{
  font-size: 24px;
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 2em;
}
#logo-container{
  border: 1px solid #898989;
  border-radius: 30px;
}
#edit-btn-container{
  margin-top: -0.8em;
}
#password-prompt{
  padding: 1.2em;
  background-color: white;
  box-shadow: 1px 1px 15px 1px #ebebeb;
  width: max-content;
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 40%;
}
#password-prompt span button{
  border: none;
  background-color: transparent;
}
#password-prompt input{
  border-radius: 50px;
  border: 1px solid #898989;
  padding: 0.3em 0.8em 0.3em 0.8em;
  width: 250px;
}
#password-prompt #submit{
  border: none;
  padding: 0.3em 0.8em 0.3em 0.8em;
  border-radius: 50px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-color: var(--orange);
  color: white;
}
#password-prompt #submit:hover{
  background-color: var(--orange-dark);
}
#dark-layer{
  background-color: #101010;
  opacity: 30%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
#wrong-pass-error-msg{
  color: rgb(187, 0, 0);
  visibility: hidden;
}
#pass-error-msg{
  color: rgb(187, 0, 0);
  visibility: hidden;
}
#password-prompt-container{
  display: none;
}
.sub-titles{
  color:#1E286D;
}
.text-orange{
  color: var(--orange-dark);
}
.offer-card{
  box-shadow: 1px 1px 15px 1px #ebebeb;
  border-radius: 20px;
  width: fit-content;
}
.delete-offer{
  color:rgb(169, 0, 0);
  font-size: 32px;
  border: none;
  background-color: transparent;
}
.delete-offer:hover{
  color: rgb(134, 0, 0);
}
.active-offer{
  border-radius: 50px;
  color: white;
  border: none;
  background-color:rgb(169, 0, 0);
  padding: 0.4em 0.8em 0.4em 0.8em;
}
.active-offer:hover{
  background-color: rgb(134, 0, 0);;
}
.inactive-offer{
  border-radius: 50px;
  color: white;
  border: none;
  background-color:#237A35;
  padding: 0.4em 0.8em 0.4em 0.8em;
}
.inactive-offer:hover{
  background-color:#185625;
}
.add-offer-btn{
  background-color: var(--orange);
  color: white;
  border-radius: 50px;
  border: none;
  padding: 0.5em 0.8em 0.5em 0.8em;
}
.add-offer-btn:hover{
  background-color: var(--orange-dark);
}
.input-fields{
  border-radius: 30px;
  border: 1px solid #898989;
  padding: 0.3em 0.5em 0.3em 0.5em;
  width: 380px;
}
#percentage-field{
  width: 360px;
  margin-right: 0.5em;
}
.requests-page-btn-active{
  border-radius: 50px;
  padding: 0.5em 1em 0.5em 1em;
  border: none;
  background-color: var(--orange);
  color: white;
  font-size: 19px;
}
.requests-page-btn-nonactive{
  border-radius: 50px;
  padding: 0.5em 1em 0.5em 1em;
  border: 1px solid rgb(185, 185, 185);
  background-color: transparent;
  color: rgb(143, 143, 143);
  font-size: 19px;
}
.requests-page-btn-active:hover{
  background-color: var(--orange-dark);
}
.requests-page-btn-nonactive:hover{
  background-color: rgb(243, 243, 243);
}
.requests-card{
  background-color: white;
  box-shadow: 1px 1px 15px 1px #ebebeb;
  border-radius: 20px;
  width: 750px;
  cursor: pointer;
}
.requests-card:hover{
  background-color: rgb(252, 252, 252);
}
.date-text{
  color: #898989;
}
.pending{
  color: #D08A1B;
}
.ready{
  color: #7cb034;
}
.closed-success{
  color: #237A35;
}
.closed-failed{
  color: #A63B3B;
}